/**
 * Plugin Styles
 *
 * Created     December 4, 2017
 * 
 * @package    MWP Rules
 * @author     Kevin Carwile
 * @since      0.0.0
 */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400');

/* Dashboard Header */

.rules-header.color-overlay::after {
	filter: invert(0%);
	z-index: 2;
	display: block;
}
.rules-header.color-overlay::after, 
.rules-header.color-overlay::before {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 1;
	display: inline-block;
	content: " ";
}
.rules-header .inner-header-description {
	text-align: center !important;
}
.rules-header .inner-header-description {
	padding-top: 2%;
	padding-bottom: 5%;
}
.rules-header .inner-header-description, .header-description {
	position: relative;
	z-index: 50;
}
.rules-header .inner-header-description .hero-title {
	font-family: Muli, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3.9em;
	line-height: 114%;
	letter-spacing: 0.9px;
	text-transform: none;
	color: #ffffff;
}
.rules-header .inner-header-links {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	z-index: 99;
}
.rules-header .inner-header-links a,
.rules-header .inner-header-links a:hover {
	color: #fff;
}

@media screen and ( max-width:780px ) {
	.rules-header .inner-header-description {
		padding-top: 6%;
		padding-bottom: 20%;
	}
	.rules-header .inner-header-description .hero-title {
		font-size: 3em;
	}
}
.rules-header .gridContainer {
	width: 90%;
}
.rules-header .gridContainer {
	box-sizing: border-box;
	max-width: 1232px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
.rules-header .header-separator-bottom {
	position: absolute;
	bottom: -1px;
	left: 0px;
	width: 100%;
}
.rules-header .header-separator {
	position: absolute;
	width: 100%;
	max-width: 100%;
	bottom: -2px;
	overflow: hidden;
	z-index: 45;
}
.rules-header svg {
	max-height: 100%;
}
.rules-header .header-separator svg {
	display: block;
	width: calc(100% + 1.3px);
}
.rules-header .header-separator svg {
	height: 77px !important;
}
.rules-header .svg-white-bg {
	/* fill: rgb(255,255,255) !important; */
}
.rules-header .svg-accent {
	stroke: rgb(168,198,251) !important;
}

/* General */

.glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#mwp_rules_rule_form .tab-pane .wp-list-table {
	box-shadow: 1px 1px 8px #bbb;
}

#mwp_rules_rule_form .tab-pane .wp-list-table tbody td {
	padding: 15px;
}

.wrap.management.records.rules > h1 > span {
	background-color: #fbfbfb;
}

.rules-dashboard .panel {
	box-shadow: 1px 1px 15px #eee;
}

.wrap.rules > .notice,
.wrap.rules > .updated {
	display: none !important;
}

.wrap.rules .draggable-handle {
	padding: 5px; 
	font-size: 12px; 
	text-align:center;	
}

.wrap.rules .column-drag_handle {
	width: 25px;
	padding: 10px 10px 10px 0;
}

a.nounderline:hover {
	text-decoration: none
}

.rules-pointer {
	cursor: pointer;
}

.mwp-rules-form .field-description {
	color: #666;
}

.mwp-rules-form .field-description ul {
	margin-top: 5px;
	list-style-type: circle;
	padding-left: 25px;
}

.mwp-rules-form .event-overview {
	padding: 20px 20px 20px 40px;
}

.mwp-rules-form .event-overview .event-title {
	font-size: 18px;
	margin: 0 0 8px -24px;
}

.mwp-rules-form .alert .subtle {
	opacity: 0.75;
	-moz-opacity: 0.75;
}

.mwp-rules-form .alert.overview {
	padding-left: 40px;
}

.mwp-rules-form .alert.overview .glyphicon {
	position: absolute;
	left: -25px;
}

.mwp-rules-form .alert .app-title {
	font-size: 1.6em;
	position: relative;
	vertical-align: middle;
}

.mwp-rules-form .alert .bundle-title {
	font-size: 1.4em;
	position: relative;
	vertical-align: middle;
}

.mwp-rules-form .alert .rule-title {
	font-size: 1.3em;
	position: relative;
	vertical-align: middle;
}

.mwp-rules-form .app-title + .bundle-title {
	margin-top: 15px;
}

.mwp-rules-form .overview-title {
	margin: 0 0 15px 5px;
}

.mwp-rules-form .bundle-title + .rule-title {
	margin-top: 15px;
}

.mwp-rules-form .alert .app-title .glyphicon {
	font-size: 0.9em;
}

.mwp-rules-form .alert .bundle-title .glyphicon {
	
}

.mwp-rules-form ul.rule-group {
	margin-left: 10px;
}

.mwp-rules-form ul.rule-group.parent_0 {
	margin-left: 0px;
}

.mwp-rules-form .event-overview p {
	margin: 10px 0;
}

.mwp-rules-form .event-overview .event-argument-info {
	font-family: monospace;
}

.mwp-rules-form .event-arguments ul.array-keys {
	margin:0 0 0 20px;
	list-style-type: square;
}

.mwp-rules-form .event-arguments ul.array-keys li {
	margin:0;
}

.mwp-rules-form .CodeMirror {
	border: 1px solid #ddd;
}

.mwp-rules-form .operation-table {
	padding: 30px;
}

.mwp-rules-form ol {
	margin: 0;
	list-style: none;
}

.mwp-rules-form .operation-details {
	padding: 10px 0;
}

.mwp-rules-form .operation-row {
	border-bottom: 1px solid #eee;
	margin: 5px 0;
}

.mwp-rules-form .condition-row .operation-details {
	border-bottom: 1px solid #eee;
}

.mwp-rules-form .operation-table li.operation-row:last-child {
	border-bottom: 0;
}

.mwp-rules-form .operation-details p {
	margin: 3px 0;
}

.mwp-rules-form .operation-row-actions {
	margin-top: 5px;
}

.mwp-rules-form ol ol {
	padding-left: 20px;
	margin-left: 10px;
}

.mwp-bootstrap .widefat td, .mwp-bootstrap .widefat th {
	padding: 8px 10px;
}

.rules.wrap .widefat td, .rules-wrap .widefat th {
	vertical-align: middle;
}

.mwp-rules-form .tokens-toggle {
	cursor: pointer;
	margin-top: 10px;
	font-family: monospace;
}

.mwp-rules-form .tokens-list {
	display: none;
}

.mwp-rules-form .tokens-list ul {
	margin: 15px 5px;
}

.mwp-rules-form .tokens-list ul li {
	margin-bottom: 3px;
}

/* Bootstrap Tweaks */
.modal-open {
  overflow: inherit !important;
}

/* Selectize */

.mwp-rules-form .selectize-dropdown-content {
	max-height: 300px;
}

.mwp-rules-form .selectize-dropdown .optgroup-header {
	font-size: 14px;
	line-height: 1.42857143;
	background-color: #eee;
	color: #555;
}

/* Panels */
.automation-logs .tab-content .tab-pane {
	padding: 5px;
}

.automation-logs .tab-content .tab-pane .table-container {
	overflow-y: auto;
	max-height: 300px;
}

.automation-logs .tab-content .tab-pane table.wp-list-table {
	border: 0px !important;
}

.automation-logs .table-controller-actions p {
	padding: 15px 5px 0;
}

/* Tables */
.rule_event_hook code {
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	height: 23px;
	vertical-align: -7px;
}

/* jsTree */
#token-browser.jstree a:focus {
	box-shadow: none;
	text-decoration: none;
}

#token-browser.jstree a:hover {
	text-decoration: none;
}

#token-browser.jstree a.unselectable {
	opacity: 0.6;
	-moz-opacity: 0.6;
	cursor: default;
}