/**
 * Plugin Styles
 *
 * Created     December 4, 2017
 * 
 * @package    MWP Rules
 * @author     Kevin Carwile
 * @since      0.0.0
 */

#mwp_rules_rule_form .tab-pane .wp-list-table {
	box-shadow: 1px 1px 8px #bbb;
}

#mwp_rules_rule_form .tab-pane .wp-list-table tbody td {
	padding: 15px;
}

.wrap.management.records.rules > h1 > span {
	background-color: #f7f8fa;
}

.rules-dashboard .panel {
	box-shadow: 1px 1px 15px #eee;
}

.wrap.rules > .notice,
.rules-dashboard > .notice {
	display: none;
}

a.nounderline:hover {
	text-decoration: none
}

.mwp-rules-form .field-description {
	color: #666;
}

.mwp-rules-form .field-description ul {
	margin-top: 5px;
	list-style-type: circle;
	padding-left: 25px;
}

.mwp-rules-form .event-overview {
	padding: 20px 20px 20px 40px;
}

.mwp-rules-form .event-overview .event-title {
	font-size: 18px;
	margin: 0 0 8px -24px;
}

.mwp-rules-form .alert .subtle {
	opacity: 0.75;
	-moz-opacity: 0.75;
}

.mwp-rules-form .alert.overview {
	padding-left: 40px;
}

.mwp-rules-form .alert.overview .glyphicon {
	position: absolute;
	left: -25px;
}

.mwp-rules-form .alert .app-title {
	font-size: 1.6em;
	position: relative;
	vertical-align: middle;
}

.mwp-rules-form .alert .bundle-title {
	font-size: 1.4em;
	position: relative;
	vertical-align: middle;
}

.mwp-rules-form .alert .rule-title {
	font-size: 1.3em;
	position: relative;
	vertical-align: middle;
}

.mwp-rules-form .app-title + .bundle-title {
	margin-top: 15px;
}

.mwp-rules-form .overview-title {
	margin: 0 0 15px 5px;
}

.mwp-rules-form .bundle-title + .rule-title {
	margin-top: 15px;
}

.mwp-rules-form .alert .app-title .glyphicon {
	font-size: 0.9em;
}

.mwp-rules-form .alert .bundle-title .glyphicon {
	
}

.mwp-rules-form ul.rule-group {
	margin-left: 10px;
}

.mwp-rules-form ul.rule-group.parent_0 {
	margin-left: 0px;
}

.mwp-rules-form .event-overview p {
	margin: 10px 0;
}

.mwp-rules-form .event-overview .event-argument-info {
	font-family: monospace;
}

.mwp-rules-form .event-arguments ul.array-keys {
	margin:0 0 0 20px;
	list-style-type: square;
}

.mwp-rules-form .event-arguments ul.array-keys li {
	margin:0;
}

.mwp-rules-form .CodeMirror {
	border: 1px solid #ddd;
}

.mwp-rules-form .operation-table {
	padding: 30px;
}

.mwp-rules-form ol {
	margin: 0;
	list-style: none;
}

.mwp-rules-form .operation-details {
	padding: 5px 0;
	margin: 5px 0;
	border-bottom: 1px solid #eee;
}

.mwp-rules-form .operation-details p {
	margin: 3px 0;
}

.mwp-rules-form .operation-row-actions {
	margin-top: 5px;
}

.mwp-rules-form ol ol {
	padding-left: 20px;
	margin-left: 10px;
}

.mwp-bootstrap .widefat td, .mwp-bootstrap .widefat th {
	padding: 8px 10px;
}

.mwp-rules-form .tokens-toggle {
	cursor: pointer;
	margin-top: 10px;
	font-family: monospace;
}

.mwp-rules-form .tokens-list {
	display: none;
}

.mwp-rules-form .tokens-list ul {
	margin: 15px 5px;
}

.mwp-rules-form .tokens-list ul li {
	margin-bottom: 3px;
}

/* Selectize */

.mwp-rules-form .selectize-dropdown-content {
	max-height: 300px;
}

.mwp-rules-form .selectize-dropdown .optgroup-header {
	font-size: 14px;
	line-height: 1.42857143;
	background-color: #eee;
	color: #555;
}

/* Panels */
.automation-logs .tab-content .tab-pane {
	padding: 5px;
}

.automation-logs .tab-content .tab-pane .table-container {
	overflow-y: auto;
	max-height: 300px;
}

.automation-logs .tab-content .tab-pane table.wp-list-table {
	border: 0px !important;
}

.automation-logs .table-controller-actions p {
	padding: 15px 5px 0;
}